.App {
  text-align: center;
}

body {
  background-color: #f1f5f8;
  width: 80%;
  margin: auto;
}

.cart {
  height: 50px;
  width: 100%;
}
.nav-container {
  background-color: #2680c0;
  color: #fff;
  padding: 8px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.img{
  height: 100px;
  max-width: 100%;
  margin-top: 20px;
}
.foot{
  border-top: 2px solid black;
  margin-top: 20px;
}
.foot-content{
  margin-top: 10px;
}
.down{
  margin-top: 35px;
}

.empty{
  margin-top: 15vh;
}
.top{
  margin-top: 4px;
}
.title{
  margin-top: 30px;
}
.svg{
  color: #fff
}
